body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: lavender;
}

.nav {
    height: 30px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #490249;
    padding: 10px;
}

.nav-title {
    margin-top: 0;
    color: #fff;
}

#blog-list {
    padding: 50px 10px;
}

h3 {
    color: #3e5b66;
    font-family: 'Roboto Mono', monospace;
}

p {
    color: #1f2121;
}
