body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: lavender;
}

nav {
    height: 30px;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav,
button {
    background: #490249;
}

nav>h3,
button {
    color: #fff;
}

#blog-list {
    padding: 10px;
}

h3 {
    color: #3e5b66;
    font-family: 'Roboto Mono', monospace;
}

p {
    color: #1f2121;
}

form {
    padding: 60px 10px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

button {
    padding: 10px 20px;
    font-weight: 700;
    border: 0;
}

#post-body {
    resize: none;
    width: 100%;
}
